<ion-header >
    
    <ion-navbar  color="purple">
    <ion-title>Rede Mulher {{filter}} </ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="showRadio()" >
            <ion-icon name="search"></ion-icon>
        </button>
        </ion-buttons> 

    </ion-navbar>

</ion-header>
  
  
  <ion-content padding>
  
      <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
          <ion-refresher-content
             pullingIcon="arrow-dropdown"
             pullingText="Pull to refresh"
             refreshingSpinner="circles"
             refreshingText="Refreshing...">
          </ion-refresher-content>
       </ion-refresher> 

    <ion-list>

      <ion-item *ngFor="let feed of dadosWeb" [style.display]="(filter) ? (feed.nome_municipio == filter) ? 'block' : 'none' :'block' ">
          
          <h2 style="color: #dc5368"><b>{{feed.nomelocal}} - {{feed.nome_municipio}} </b></h2>
          <p>{{feed.endereco}}, {{feed.bairro}}, {{feed.nome_municipio}}/{{feed.uf}}</p>

          <ion-grid>
              <ion-row>

                <ion-grid >
                    <ion-row>
                      <ion-col col-8 padding-top padding-bottom> Tel.: {{feed.telefone}} </ion-col>
                      <ion-col col-2 no-padding>
                          <button color="purple" ion-button icon-only (click)="itemSelected(feed)" >
                              <ion-icon name="pin"></ion-icon>
                          </button>
                      </ion-col>
                      <ion-col col-2 no-padding>
                          <button color="purple"  ion-button icon-only (click)="callPhone(feed.telefone)">
                              <ion-icon name="call"></ion-icon>
                          </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

              </ion-row>
            </ion-grid>

      </ion-item>

    </ion-list>
  
  </ion-content>
  