<ion-header >
  
    <ion-navbar  color="purple">
      <ion-title>Noticia</ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)="shareNoticia(feed)">
            <ion-icon name="share"></ion-icon>
        </button>
      </ion-buttons> 

    </ion-navbar>

  </ion-header>


<ion-content class="cards-bg">

  <ion-card>

  <img src="http://ceres.rn.gov.br/v2/app/images/mulheres/noticia/noticia_{{feed.id}}.jpg">

  <ion-card-content>

    <ion-card-title color="purple">
      {{feed.titulo}}
    </ion-card-title>

    <p text-justify>
      {{feed.descricao}}
    </p>

    <ion-row no-padding>
        <ion-col>
             <p  style="color: #673ab7"> Autor: {{feed.autor}} </p>
             <p  style="color: #673ab7">Publicado em {{feed.datapublicacao}} </p>
        </ion-col>
      </ion-row>

  </ion-card-content>



  </ion-card>


</ion-content>
