<!--
  Generated template for the DenunciaFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="purple">
    <ion-title>Denúncia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
  <!-- DENUNCIANTE  -->
  <ion-item-group>
    <ion-item-divider color="light">
      DENUNCIANTE 
      <p>Quem esta realizando a denuncia.</p>
    </ion-item-divider>
    
    <ion-item>
        <ion-label>Denúncia Anônima?</ion-label>
        <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label floating>Autor</ion-label>
        <ion-input [(ngModel)]="record.autor" type="text" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>telefone</ion-label>
        <ion-input [(ngModel)]="record.telefone" type="number" required></ion-input>
    </ion-item>

    <p></p>

  </ion-item-group>
 

  <!-- VITIMA  -->
  <ion-item-group>
      <ion-item-divider color="light">
          VÍTIMA 
        <p>Descreva as informações da vítima com o maior detalhe possivel. </p>
      </ion-item-divider>
      
        <ion-item>
          <ion-label floating>nome</ion-label>
          <ion-input [(ngModel)]="record.vitima_nome" type="text"></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label>Cor da vítima</ion-label>
            <ion-select [(ngModel)]="record.vitima_cor">
                <ion-option value="Branca">Branca</ion-option>
                <ion-option value="Negra">Negra</ion-option>
                <ion-option value="Parda">Parda</ion-option>
                <ion-option value="Amarela">Amarela</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>Faixa etária de idade</ion-label>
            <ion-input [(ngModel)]="record.vitima_idade" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Características</ion-label>
            <ion-input [(ngModel)]="record.vitima_caracteristica" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Endereço</ion-label>
            <ion-input [(ngModel)]="record.vitima_endereco" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Ponto de referência</ion-label>
            <ion-input [(ngModel)]="record.vitima_pontoreferencia" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Escolaridade</ion-label>
            <ion-input [(ngModel)]="record.vitima_escolaridade" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Profissão</ion-label>
            <ion-input [(ngModel)]="record.vitima_profissao" type="text"></ion-input>
        </ion-item>
        <p></p>
    </ion-item-group>
   
    
      <!-- DENUNCIANTE  -->
    <ion-item-group>
        
        <ion-item-divider  color="light">
                AUTOR DA VIOLÊNCIA  
          <br><p>Descreva o autor da violência com o maior detalhe possivel. </p>
        </ion-item-divider>
        
        <ion-item>
            <ion-label floating> Tipo da Violência</ion-label>
            <ion-input  [(ngModel)]="record.tipodenuncia_id" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Faixa etária de idade do Agressor</ion-label>
            <ion-input [(ngModel)]="record.agressor_idade" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Endereço da ocorrência (Local onde ocorreu a violência)</ion-label>
            <ion-input [(ngModel)]="record.enderecoocorrencia" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Município da ocorrência</ion-label>
            <ion-input [(ngModel)]="record.municipio_id" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Bairro</ion-label>
            <ion-input [(ngModel)]="record.bairro" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Ponto de referência</ion-label>
            <ion-input [(ngModel)]="record.pontoreferencia" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Características físicas do agressor</ion-label>
            <ion-input placeholder="Cor, Altura, Cor de cabelo, etc..." [(ngModel)]="record.caracteristica" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Escolaridade</ion-label>
            <ion-input placeholder="Cor, Altura, Cor de cabelo, etc..." [(ngModel)]="record.agressor_escolaridade" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Profissão</ion-label>
            <ion-input  [(ngModel)]="record.agressor_profissao" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label stacked>Descrição</ion-label>
            <ion-input placeholder="Descreva os fatos de forma clara"  [(ngModel)]="record.descricao" type="text"></ion-input>
        </ion-item>
        <p></p>
    </ion-item-group>
  
    <div padding>
            <button ion-button color="danger" (click)="postRecord()">Denúnciar</button>
    </div>
    
</ion-content>
