<!--
  Generated template for the SettingsPanicoFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    
  <ion-navbar  color="purple">
    <ion-title>Configurações - Botão pânico</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>


  <ion-list>

    <ion-item>
      <ion-label stacked>Deseja ativar o botão pânico emergência?</ion-label>
      <ion-toggle color="purple" [(ngModel)]="config.checkPanico" ></ion-toggle>
    </ion-item>

    <ion-item-group [hidden]="!config.checkPanico">
      
      <ion-item [hidden]="config.codigo_valido">
          <ion-label text-justify><p style="color: black"><b style="color: red">Observação:</b> Para ativar o 
            <b>"Botão pânico emergência"</b> é necessário que entre em contato com delegacia mais próximo para gerar o seu código 
              de segurança. </p></ion-label>
      </ion-item>

      <ion-item [hidden]="config.codigo_valido">
          <ion-label stacked>Insira o seu codigo de segurança</ion-label>
          <ion-input [(ngModel)]="config.codigo" type="number"></ion-input>
      </ion-item>

      <ion-grid [hidden]="config.codigo_valido">
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8><button ion-button color="danger" full (click)="validarCodigo(config.codigo)" >Validar código</button></ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </ion-grid>

      <ion-item [hidden]="!config.codigo_valido" >
          <ion-label text-center><p style="color: black"><b style="color: red">Botão Pânico ATIVADO</b> </p></ion-label>
      </ion-item>

      <ion-item [hidden]="!config.codigo_valido" >
          <ion-label text-center><p style="color: black"><b style="color: red">CHAVE DO USUARIO: {{config.codigo}}</b> </p></ion-label>
      </ion-item>

    </ion-item-group>

    <ion-item>
        <ion-label stacked>Deseja enviar SMS ao clicar no botão?</ion-label>
        <ion-toggle color="purple"  [(ngModel)]="config.checkSms"></ion-toggle>
    </ion-item>
    
    <ion-item-group [hidden]="!config.checkSms">
        <ion-item>
            <ion-label text-justify><p style="color: black"><b style="color: red">Observação:</b> Essa opção serve para assegurar que algum amigo ou familiar saiba da sua situação ao clicar no botão.</p></ion-label>
        </ion-item>
  
        <br>
        <ion-item>
            <ion-label text-center><p style="color: black"><b style="color: red">Contato</b> </p></ion-label>
        </ion-item>
        <ion-item>
            <ion-label stacked>Informe o nome</ion-label>
            <ion-input  [(ngModel)]="config.nome_contado1" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Informe o telefone</ion-label>
            <ion-input  [(ngModel)]="config.contato1" type="number"></ion-input>
        </ion-item>


        <ion-item>
            <ion-label text-justify><p style="color: red"><b >AVISO!</b> Se sua operadora não tiver um plano com SMS GRATUITO, será cobrado uma taxa ao enviar as mensagens.</p></ion-label>
        </ion-item>

      </ion-item-group>

      <button ion-button color="danger" float-right (click)="doConfirm()">Salvar</button>

  </ion-list>

</ion-content>
