<!--
  Generated template for the SettingsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    
  <ion-navbar  color="purple">
    <ion-title>Configurações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of list" (click)="openPage(item.page)">
            <ion-icon name="{{item.icon}}" item-start></ion-icon>
            {{ item.nome }}
            <ion-icon name="arrow-forward" item-end></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>
