<ion-header >
    
      <ion-navbar  color="purple">
        <ion-title> Saúde da Mulher  </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="showRadio()" >
                <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons> 

      </ion-navbar>
    
</ion-header>
  
  
<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content
           pullingIcon="arrow-dropdown"
           pullingText="Pull to refresh"
           refreshingSpinner="circles"
           refreshingText="Refreshing...">
        </ion-refresher-content>
     </ion-refresher> 

  <ion-list>

    <ion-item *ngFor="let feed of dadosWeb"  (click)="returnValue(feed)" [style.display]="(filter) ? (feed.nome_saude == filter) ? 'block' : 'none' :'block' ">
        
        <h2 style="color: #dc5368"><b>{{feed.nome}} </b></h2>
        <p>{{feed.nome_saude}}</p>

    </ion-item>

  </ion-list>

</ion-content>
  