<ion-header>
   <ion-navbar  color="secondary">
     
        <!--<ion-title>My Feed Reader</ion-title>-->
        
        <ion-searchbar 
            [(ngModel)]="searchTerm"
            [formControl]="searchTermControl" 
            [showCancelButton]=true
            (ionInput)="filterItems()" 
            placeholder="Type here..." >
        </ion-searchbar>

        <ion-buttons end>
          <button ion-button icon-only (click)="showFilters()">
              <ion-icon name="funnel" [style.color]="hasFilter ? 'orange' : 'inherit'"></ion-icon>
          </button>
        </ion-buttons> 

   </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
    </ion-refresher-content>
 </ion-refresher> 

 <ion-list>
   <button ion-item *ngFor="let feed of feeds" (click)="itemSelected(feed)">
     <ion-thumbnail item-left>
          <img [src]="feed.data.thumbnail">
       </ion-thumbnail>
       <h2>{{feed.data.title}}</h2>

      <div [ngSwitch]=feed.data.subreddit.toLowerCase()>
        <p *ngSwitchCase="'askreddit'"><ion-icon name="help-circle"></ion-icon> {{feed.data.domain}}</p>
        <p *ngSwitchCase="'gaming'"><ion-icon name="logo-playstation"></ion-icon> {{feed.data.domain}}</p>
        <p *ngSwitchCase="'music'"><ion-icon name="musical-notes"></ion-icon> {{feed.data.domain}}</p>
        <p *ngSwitchCase="'movies'"><ion-icon name="film"></ion-icon> {{feed.data.domain}}</p>
        <p *ngSwitchCase="'pics'"><ion-icon name="image"></ion-icon> {{feed.data.domain}}</p>
        <p *ngSwitchDefault>{{feed.data.domain}}</p>
      </div>

    </button>
 </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll> 


</ion-content>


