<ion-header >
    
      <ion-navbar  color="purple">
        <ion-title> Saúde da Mulher </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="fetchContent()">
                <ion-icon name="sync"></ion-icon>
            </button>
          </ion-buttons> 

      </ion-navbar>
    
    </ion-header>
  
  
  <ion-content padding>
  
      <div>
          <ion-list *ngFor="let feed of dadosWeb; let i=index"  >
              <ion-card  (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">                  
                    
                  <img src="http://ceres.rn.gov.br/v2/app/images/mulheres/saude/saudecategoriaitem_{{feed.id}}.jpg">
                  
                    <ion-card-content>
                  
                      <ion-card-title color="purple">
                        {{feed.titulo}}
                       </ion-card-title>
                  
                      <p text-justify *ngIf="isGroupShown(i)">
                        {{feed.descricao}}
                      </p>
                  
                      <ion-row no-padding>
                          <ion-col>
                               <p  style="color: #673ab7"> Fonte: {{feed.fonte}} </p>
                          </ion-col>
                        </ion-row>
                  
                    </ion-card-content>                
                  
              </ion-card>
          </ion-list>
      </div>
  
  </ion-content>
  