<ion-header >
  
    <ion-navbar  color="purple">
      <ion-title>Rede Mullher -  {{feed.nome_municipio}}</ion-title>
    </ion-navbar>

</ion-header>
  
  
  <ion-content>
  
    <div #map id="map"></div>  
  
  </ion-content>
  