<ion-header >

  <ion-navbar  color="purple">
    <ion-title>Nísia</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="openPage(settings)">
            <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons> 

  </ion-navbar>

</ion-header>


<ion-content style=" background-color: #f3e5f5;" >

    <ion-grid>
      <!--<ion-scroll scrollY="true" style="height: 300px">-->
         
        <ion-row>
          <ion-col col-4 col-sm-4  *ngFor="let feed of modulos" no-padding>
            <div> 
            <ion-card (click)="openPage(feed.page)">
              
                <img src="assets/img/{{feed.imagem}}">
                
                <ion-card-content no-padding  padding-bottom>
                  <p>{{feed.nome}}</p>
                </ion-card-content>
            </ion-card>
           </div>
          </ion-col>
        </ion-row>
      <!--</ion-scroll>-->
      </ion-grid>

      <ion-grid>
          <ion-row>
            <ion-col col-12 no-padding> 
              <div>

                  <img id="panico" width="180px" [src]="'assets/img/'+ img +'.png'"  (press)="panico()">

              </div>
            </ion-col>
            <ion-col col-12 no-padding> 
                <p style="color: red"> <b>Botão pânico. Pressione para ativar.</b> </p>
              </ion-col>
          </ion-row>      
      </ion-grid>

  <ion-list>

   </ion-list>



</ion-content>
