page-modulos {

    text-align: center;

    ion-list{
        display: flex;
        flex-wrap: wrap;   
    }

    ion-card{

        flex: 0 1 40%;
        flex-direction: column;
        padding: 0px !important;
        &:hover {
            
            img:hover {
                opacity: 0.5;
                filter: alpha(opacity=50); 
            }
            
            h2{        
                color:#32db64;
            }

        }
    }

    button .item-inner{
        padding: 0px !important;
        border: 0px solid #dedede !important;
    }

    button .item-inner .input-wrapper{
        text-align: center;
    }

    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
        width: 100%;
        height: 100%;
    }

    .item-md ion-thumbnail[item-left]{
        margin: 10px !important;
    }

    .item-md ion-thumbnail:hover{    
        opacity: 1px;
    }

    
}