<ion-header >
  
    <ion-navbar  color="purple">
      <ion-title>Noticias </ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
        <ion-refresher-content
           pullingIcon="arrow-dropdown"
           pullingText="Pull to refresh"
           refreshingSpinner="circles"
           refreshingText="Refreshing...">
        </ion-refresher-content>
     </ion-refresher> 

  <ion-list>
    <ion-item *ngFor="let feed of dadosWeb" (click)="returnValue(feed)">
      <ion-thumbnail item-start>
        <img src="http://ceres.rn.gov.br/v2/app/images/mulheres/noticia/noticia_{{feed.id}}.jpg">
      </ion-thumbnail>
      <h2 >{{feed.titulo}}</h2>
    </ion-item>
  </ion-list>

</ion-content>
